<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>音樂串流平台</title>
    <link href="~/css/layoutstyle.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
          rel="stylesheet" />
    <script src="https://kit.fontawesome.com/04b849f573.js"
            crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <article class="left">
            <header>
                <button type="button" id="menubar">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </header>
            <aside>
                <ul>
                    <li><a href="#">專輯列表</a></li>
                    <li><a href="#">歌曲列表</a></li>
                    <li><a href="#">歌手列表</a></li>
                </ul>
            </aside>
        </article>
        <article class="right">
            <header>
                <article>
                    <form class="searchForm">
                        <div>
                            <i class="fa-solid fa-magnifying-glass songNameSearchIcon"></i>
                            <input type="text" name="songName" placeholder="歌曲名稱" />
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass albumNameSearchIcon"></i>
                            <input type="text" name="albumName" placeholder="專輯名稱" />
                        </div>
                        <button type="submit">查詢</button>
                    </form>
                </article>
                <article class="userProfile">
                    <a href="#">登入/註冊</a>
                    <a href="#">登出</a>
                    <button type="button" id="showUserProfileMenu">
                        <img src="~/icon/3135715.png" width="50" height="50" />
                    </button>
                </article>
            </header>
            @RenderBody()
        </article>
    </main>
</body>
</html>
